<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNne3y4K7oeXe35ftNAR9dh5F3CJcuEms</string>
	<key>GCM_SENDER_ID</key>
	<string>453245290462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SamJayGill.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-64816</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-64816.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453245290462:ios:2003f88c501235abf6bf4f</string>
</dict>
</plist>